name: Smoke test

on: 
  workflow_call:
    inputs:
      package_name:
        required: true
        type: string
        description: 'The package name to try to import'

      install_command:
        default: 'pip install .'
        required: false
        type: string
        description: 'The command to use to install the package'
      
      python_versions:
        default: '["3.12"]'
        required: false
        type: string
        description: 'The python versions to run tests on'
      
      os_list:
        default: '["ubuntu-latest"]'
        required: false
        type: string
        description: 'The operating systems to run tests on'


jobs:
  run-smoke-tests:
    name: Run smoke tests

    strategy:
      matrix:
        python-version: ${{fromJson(inputs.python_versions)}}
        os: ${{fromJson(inputs.os_list)}}

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6.1.0
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
      
      - name: Install package
        run: ${{inputs.install_command}}
      
      - name: Try import
        shell: bash
        run: python -c "import ${{inputs.package_name}}; print('Successfully imported ${{inputs.package_name}}!')"
